body {
    padding-top: 70px;
    font-family: Lato, sans-serif;
    font-weight: bold;
}
.navbar{
    background-color: #fff;
    border-bottom: #EFDECD;
    font-size: 150%;
}
ul.nav a:hover {
    color: #c0c0c0 !important; 
} 
h1 {
    font-size: 650%;
}
p{
    font-size: 150%;
    text-align: center;
    margin-bottom: 0px;
}
img{
    width: 850px;
    height: 650px;
}
.hobby-photo{
    width: 750px;
    height: auto;
}
.line-photo{
    width: 300px;
    height: 200px;
}
.left-line-photo{
    width: 525px;
    height: 600px;

}
@media (max-width: 767px) {
    .hobby-photo{
        width: 300px;
    }
    p{
        font-size: 100%;
    }
}