body {
    padding-top: 70px;
    font-family: Lato, sans-serif, Georgia;
    font-weight: bold;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
#nav a{
    color:black;
}
ul.nav a:hover { color: #efb621 !important; font-weight: bold; font-size: 200%; }
 
.navbar{
    background-color: #fff;
    border-bottom: #EFDECD;
    font-size: 150%;
}

h1{
    font-size: 600%;
}

p{
	font-size: 150%;
}

footer{
    font-size: 75%;
}
