p{
    font-size: 100%;
    padding: 0 0;
    margin: 0px;
}

h1{
    font-size: 650%;
}
h2 {
    font-size: 350%;
}
h3 {
    font-size: 150%;
    font-weight: bold;
}
.date{
    margin-bottom: -2%;
}
