body {
    padding-top: 70px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.navbar{
    background-color: #fff;
    border-bottom: #EFDECD;
    font-size: 150%;
}
ul.nav a:hover {
    color: #c0c0c0 !important; 
} 
p{
    font-weight: 50%;
    padding: 0 0;
    margin: 0px;
    padd
}

h1{
    font-size: 650%;
}
h2 {
    font-size: 350%;
}
h3 {
    font-size: 150%;
}
.date{
    margin-bottom: -2%;
}